.form__row {
  display: flex;
  margin-bottom: 26px;
}

.form__input {
  flex: 1;
  resize: none;
  margin-right: 28px;
  border-radius: 5px;
  border: none;
  background: #FFFFFF;
  padding: 19px 30px;
  font-size: 18px;
  color: #1A1B1E;
  outline: none;
  border: 1px solid transparent;
}
.form__input:focus {
  border: 1px solid #CCCCCC;

}
.form__input:last-child {
  margin-right: 0;
}

.form__input::placeholder {
  color: #666666;
}

.form__input--textarea {
  height: 235px;
}

.form__controls {
  display: flex;
  margin-bottom: 80px;
}

.form__controls-title {
  width: 366px;
  padding-right: 20px;
  margin-right: 70px;
}

.form__btns {
  display: flex;
  justify-content: flex-end;
  margin-top: 69px;
  margin-bottom: -250px;
  }
  .form__btn {
    margin-right: 13px;
  }
  
  
  .form__btn:last-child {
    margin-right: 0;
  }
  