body {
  font-family: 'Open Sans', sans-serif;
  background: #17191C;
  color: #fff;
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}
p {
  margin-top: 0;
}
 * {
   box-sizing: border-box;
 }


 body, html {
   height: 100%;
 }


  button {
   background: transparent;
   border: none;
    cursor: pointer;
 }


 .wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100%;
   overflow: hidden;
   min-width: 1200px;
 }

 .main-page-wrapper {
   background: url("../images/bg/hero.jpg") center top no-repeat, url("../images/bg/bottom-pic.jpg") center  bottom 170px no-repeat;
 }
.container {
  margin: 0 auto;
  width: 1142px;
}
.header {
 padding-top: 23px;
  margin-bottom: 79px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__col {
  display: flex;
  align-items: center;
}

.header__col--align--right {
  justify-content: flex-end;
}
.logo {
 display: block;
 margin-right: 90px;
  
}


.contacts {
  text-align: right;
  top: 0;
  left: 0;
  right: 0;
  }

.contacts__content {
  width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content:flex-end;
}

.contacts__contact {
  padding: 20px 0;
}

.contacts__phone {
  text-decoration: none;
  font-size: 26px;
  margin-bottom: 4px;
}

.contactss__desc {
  color: #9A9A9A;
  font-size: 11px;
}
.h-drop {
  background: #1E1F20;;
  color: #1E1F20;
  position: absolute;
  align-items: right;
  margin-left: 65px;
}

.h-drop:hover .h-drop__content{
opacity: 1;
visibility: visible;
}


.h-drop__title {
  font-size: 13px;
  display: flex;
  align-items: center;
  text-decoration-line: underline;
  color: #FF3D00;

}

.h-drop__content {
  opacity: 0;
  visibility: hidden;
  margin-top: 10px;
  background: rgba(237, 237, 237, 0.8);
  mix-blend-mode: normal;
  border-radius: 5px;
  padding: 18px;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #1E1F20;
  position: absolute;
  top: 100%;
  right: 0;
  white-space: nowrap;
  transition: opacity 0.5s;
}

.h-drop__content::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: 11px solid transparent;
  border-top: 0;
  border-bottom-color:rgba(237, 237, 237, 0.8);
  border-block-width: 9px;
  position: absolute;
  bottom: 100%;
  right: 37px;
}

.h-drop__content::after {
  content: '';
  position: relative;
  width: 100%;
  height: 10px;
  bottom: 100%;
}
.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 54px;
}


.menu__item--active .menu__link {
  color: #ff5400;
}

.menu__link:hover{
  color: #FF3D00;
}


.menu__link {
  font-size: 14px;
  text-decoration: none;
}


.contactss__phone {
  text-decoration: none;
  font-size: 26px;
  margin-bottom: 4px;
}

.hero__content {
  text-align: center;
  right: 567px;
}
.hero__text--section {
  text-align: center;
}

.hero__title {
  font-size: 72px;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 18px;
  margin-top: 168px;
  text-transform: uppercase;
  
}

.hero__subtitle {
  font-size: 18px;
  margin-bottom: 44px;
  text-transform: none
}

.btn {
  background: #FF3D00;
  border-radius: 35px;
  padding: 18px 54px;
  margin-bottom: 233px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.btn--color--shade {
  background: #8E8E8E;
}

.btn--color--shade:hover {
  background: #2B2B2B;
}


.btn--color--orange {
  background: #FF5500;
}


.btn--color--orange:hover {
  background: #FF3D00;
}

.service__list {
  display: flex;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 233px;
  justify-content: space-between;
}
.service__item {
  min-height: 470px;
  width: calc(100% / 3 - 18px);
  background: #fff;
  border-radius: 4px;
  margin-bottom: 180px;
  overflow: hidden;
  
  
  
}
.service__item:last-child{
  margin-right: 0;
}
.service__button  {
  background: #FF5500;
  border-radius: 35px;
  padding: 18px 55px;
  margin-right: 140px;
  margin-left: 24px;
  margin-bottom: 53px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.service__icon {
  min-height: px;
  margin-bottom: 30px;
  margin-left: 26px;
  margin-right: 26px;
  margin-top: 36px;
}

.service__info {
  color: #000000;
}
.service__title {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 17px;
  margin-left: 22px;
}

.service__description-block {
  display: inline-block;
  vertical-align: top;
  width: 102px;
  margin-right: 34px;
  font-size: 16px;
  margin-bottom: 25px;
  margin-left: 22px;
  color: #666666;
}

.service__description-block:last-child {
  margin-right: 0;
}

.service__text {
  font-size: 14px;
  margin-right: 34px;
 margin-left: 22px;
 color: #666666;
 margin-bottom: 29px;
}

.service__btn {
  margin-right: 140px;
  margin-left: 24px;
  margin-bottom: 53px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  background: #FF5500;
}

.service__btn--color--white {
  background: #FFFFFF;
  color: #FF5500;
  border-radius: 5px;
  border: 2px solid #FF5500;
  box-sizing: border-box;  
}

.service__btn--color--white:hover{
  background: #FF5500;
  color: #fff;  
}
.section__title {
  font-weight: 800;
  font-size: 36px;
  margin-bottom: 51px;
}
.news {
  margin-bottom: 53px;
  display: flex;
  justify-content: space-between;
}

.single-news {
  position: relative;
  border-radius: 4px;
  overflow:hidden;
  
}
.news__item {
  height: 394px;
  margin-right: 2%;
  flex: 1;
}

.news__item :last-child {
  margin-right: 0;
 } 

.news__cover {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.single-news__text-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 25px 31px;
  min-height: 140px;
}

.single-news__date {
  font-size: 14px;
  margin-bottom: 13px;
}

.single-news__title {
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 5px;
}
.paginator{
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 153px;
}

.paginator--theme--light {
  color: #000000;
}

.paginator--theme--light .paginator__item--active .paginator__link {
  color: #fff;
}
.paginator__display {
  margin-right: 25px;
}

.paginator__list {
  display: flex;
  align-items: center;
}

.paginator__item {
  text-align: center;
}
.paginator__item--active .paginator__link {
background: #FF5500;
}


.paginator__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold;
  line-height: 32px;
}

.about {
  display: flex;
}
.about:before {
  content: "";
  display: block;
  width: 490px;
  height: 505px;
  background: url("../images/decor/cameraman.jpg") center center / cover no-repeat;
}

.about__desc {
  background: #fff;
  padding: 70px 81px;
  max-width: 785px;
  padding-top: 153px;
  margin-left: -142px;
  margin-top: 98px;
  margin-bottom: 53px;
}

.about__title {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 37px;
  color: #060606;
}
.about__desc-text {
  color: #060606;
  margin-bottom: 43px;
}

.about__desc-text p {
  margin-bottom: 20px;
}

.about__desc-text p:last-child {
  margin-bottom: 0;
}

.footer-container {
  margin-top: auto;
}
.footer-container____section{
  height: 138px;
  margin-top: 12px;
  
}
.footer-container__content {
  border-top: 1px solid #fff;
}
.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__col {
  display: flex;
  align-items: center;
}

.footer__col--align--right {
  align-items: flex-end;
}
.socials {
  margin-right: 74px;
}
.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  background: center center no-repeat;

}

.socials__item--icon--telegram .socials__link{
  background-image: url(../images/icons/socials/t.png);
}

.socials__item--icon--telegram .socials__link:hover {
  background-image: url(../images/icons/socials/t2.png);
}

.socials__item--icon--vk .socials__link{
  background-image: url(../images/icons/socials/vk.png);
}

.socials__item--icon--vk .socials__link:hover {
  background-image: url(../images/icons/socials/vk2.png);
}

.socials__item--icon--fb .socials__link{
  background-image: url(../images/icons/socials/f.png);
}

.socials__item--icon--fb .socials__link:hover {
  background-image: url(../images/icons/socials/f2.png);
}
.socials__item--icon--instagram .socials__link{
  background-image: url(../images/icons/socials/in.png);
}

.socials__item--icon--instagram .socials__link:hover {
  background-image: url(../images/icons/socials/in2.png);
}




/* services page */


.top-line {
  min-height: 416px;
  background: #060606;
  display: flex;
  flex-direction: column;
  padding-bottom: 28px;
  background: url("../images/bg/top-line.jpg") right 55% top no-repeat;
}

.top-line__container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.page-title {
  font-size: 72px;
  line-height: 1;
  font-weight: bold;
}

.breadcrumbs__list {
  display: flex;
  align-items: center;
}

.breadcrumbs__item {
  display: flex;
  align-items: center;
}
.breadcrumbs__item--active .breadcrumbs__link {
  font-weight: bold;
  text-decoration: underline;
}

.breadcrumbs__item:after {
  content: "/";
  color: #9A9A9A;
}

.breadcrumbs__item:last-child:after {
  display: none;
}


.breadcrumbs__link {
  color: #9A9A9A;
  font-size: 14px;
}

.page-content {
background: #fff;
padding: 106px 0;
}

.service{
  display: flex;
}

.service__img {
  width: 460px;
  margin-right: 56px;
  margin-bottom: 49px;
}

.service__img:last-child {
  margin-bottom: 0;
}

.service__content {
  flex: 1;
}

.service__title {
  font-size: 36px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 25px;
}

.service__desc {
  color: #303030;
  line-height: 1.7;
  margin-bottom: 34px;
}

.service__btn {
  width: 198px;
  height: 55px;
  border-radius: 35px;
  padding: 18px 54px;
  text-decoration: none;  
}

.inner-section {
  background: #fff;
  color: #202123;
  padding: 95px 0;
}

.inner-section--bg--grey {
  background: #F4F5F5;
}

.inner-section__title {
font-weight: bold;
font-size: 48px;
margin-bottom: 80px;
}

.partners {
  display: flex;
  flex-wrap: wrap;
}
.partners__item:nth-child(4n + 1) {
  margin-left: 0;
}
.partners__item {
  margin-left: 46px; 
  margin-bottom: 60px;
}

.partners__link {
  text-decoration: none;
  display: flex;
  width: 250px;
  height: 100px;
  align-items: center;
  justify-content: center;
  max-width: 100%;  
  max-height: 100%;
  filter: grayscale(100%);
}

.partners__link:hover {
  filter: grayscale(0);
}

.inner-footer__container {
  padding: 45px 0;
}

.inner-footer {
margin-top: auto;
}

/*reviews */

.reviews {
  column-count: 2;
  column-gap: 27px;
  margin-bottom: 76px;
}
.reviews__item {
  margin-bottom: 17px;
}
.review {
  display: inline-flex;
  flex-direction: column;
  padding: 50px 28px;
  background: #F4F5F5;
}

.review__header {
  display: flex;
  align-items: center;
  margin-bottom: 27px;
}

.review__user {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #2E77A4;
  margin-bottom: 13px;
}
.review__user:after{
  margin-left: 7px;
  content: url(../images/icons/socials/vk-colored.png);
  height: 29px;
}
.avatar__img {
  width: 142px;
  height: 142px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 22px;
}

.review__tags {
  display: flex;
  align-items: flex-start;
}

.tag {
  font-size: 13px;
  padding: 10px 25px;
  border-radius: 50px;
  color: #303030;
  background: #E7E7E7;
}


.tag--bg--pink {
  background: #F2D4C9;
}

.review__title {
  font-size: 30px;
  color: #202020;
  font-weight: bold;
  margin-bottom: 13px;
}

.review__content-text {
  color: #818181;
  margin-bottom: 49px;
}

.review__date {
  color: #1A1B1E;
  font-size: 14px;
  font-weight: 600;
}

.separator {
  background:  url("../images/decor/party.png") right 20% bottom no-repeat;
  min-height: 363px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.separator__content {
  max-width: 49%;
}

.separator__title {
  font-size: 48px;
  font-weight: bold;
}

.num__title {
  color: #FF5300;
}

.numeral {
  font-weight: bold;
  color: #000000;
}

.form__row {
  display: flex;
  margin-bottom: 26px;
}

.form__input {
  flex: 1;
  margin-right: 28px;
  border-radius: 5px;
  border: none;
  background: #FFFFFF;
  padding: 19px 30px;
  font-size: 18px;
  color: #1A1B1E;
}
.form__input:last-child {
  margin-right: 0;
}

.form__input::placeholder {
  color: #666666;
}

.form__input--textarea {
  height: 235px;
}

.form__controls {
  display: flex;
  margin-bottom: 80px;
}

.form__controls-title {
  width: 366px;
  padding-right: 20px;
  margin-right: 70px;
}
.controls {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.controls__item {
  margin-right: 18px;
  margin-bottom: 10px;
}
.controls__elem {
  cursor: pointer;
}

.controls__checkbox:checked ~ .controls__tag {
  background: #F2D4C9;
}


.controls__checkbox {
  display: none;
  
}

.form__btns {
display: flex;
justify-content: flex-end;
margin-top: 69px;
margin-bottom: -250px;
}
.form__btn {
  margin-right: 13px;
}


.form__btn:last-child {
  margin-right: 0;
}



/*welcome page*/


.welcome {
  display: flex;
  position: absolute;
  top: 158px;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: url("../images/bg/bottom-pic.jpg") center center / cover no-repeat;
}


.central {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.central__logo {
  width: 538px;
  height: 147px;
  vertical-align: middle;
  margin-bottom: 38px;
}

.central--video {
  opacity: 0;
  animation: rotateIn .9s;
  animation-fill-mode: forwards;
}


@keyframes rotateIn {
  from {
    transform: scale(0.1) rotate(30deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  70% {
    transform: rotate(3deg);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}