.paginator{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 153px;
  }
  
  .paginator--theme--light {
    color: #000000;
  }
  
  .paginator--theme--light .paginator__item--active .paginator__link {
    color: #fff;
  }
  .paginator__display {
    margin-right: 25px;
  }
  
  .paginator__list {
    display: flex;
    align-items: center;
  }
  
  .paginator__item {
    text-align: center;
  }
  .paginator__item--active .paginator__link {
  background: #FF5500;
  }
  
  .paginator__item:hover .paginator__link:hover {
    background: #FF5300;
    color: #fff;
  }
  .paginator__link {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
  }